[Unit]
Description=My Spring Boot Application

[Service]
ExecStart=java -jar bank-0.0.1-SNAPSHOT.jar
Restart=always
User=opc
WorkingDirectory=/home/{user}/bank/app/runtime
Type=simple

[Install]
WantedBy=multi-user.target
